<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/style.css"/>
  <script>
    window.onload = function() {
      getUserNickname();
    };
  </script>
  <title>반려동물 자랑 사이트, petfam</title>
</head>
<body>
  <div class="header" style="position: relative;">
    <div id="login-true" style="display: none;">
      <div id="header-title-login-user">
        <div id="username"></div> 님
      </div>
      <div id="header-title-petfam">
        Petfam(펫팸)
      </div>
      <a id="login-text" href="javascript/logout()">
        로그아웃
      </a>
      <a id="home-text" href="/templates/index.html">
        HOME
      </a>
    </div>
    <div id="login-false">
      <div id="header-title-petfam">
        Petfam(펫팸)
      </div>
      <a id="welcome-text" href="/templates/myprofile.html">
        ...님 환영합니다.
      </a>
      <button id="sign-text" onclick="logout()">
        로그아웃
      </button>
      <button id="login-text" onclick="refresh()">
        토큰재발급
      </button>
      <a id="home-text" href="/templates/index.html">
        HOME
      </a>
    </div>
  </div>
<nav class="nav flex-column" id="sidebar-text" style="float: left; margin-right: 50px; width: 200px;">
  <div class="nav-column">
    <a class="nav-link active" id="sidebar-text-each" aria-current="page" style="color: black" href="./posts.html">펫팸 자랑</a>
    <a class="nav-link active" id="sidebar-text-each" aria-current="page" style="color: black" href="./posts_chat.html">펫팸 잡담</a>
    <a class="nav-link active" id="sidebar-text-each" aria-current="page" style="color: black" href="./posts_qna.html">Q&A게시판</a>
  </div>
</nav>
<script src="../javascript/user.js"></script>
</body>
</html>