<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/style.css"/>
  <script>
    window.onload = function() {
      getUserNickname();
      getUserMe();
      const cookieValue = getToken();
        if (cookieValue== "") {
          document.getElementById("sign-text").style.display = "inline";
          document.getElementById("welcome-text").style.display = "none";
          document.getElementById("signout-text").style.display = "none";
          document.getElementById("admingetuser").style.display = "none";
          document.getElementById("login-text").style.display = "inline";
        }  else {
          document.getElementById("sign-text").style.display = "none";
          document.getElementById("welcome-text").style.display = "inline";
          document.getElementById("signout-text").style.display = "inline";
          document.getElementById("admingetuser").style.display = "none";
          document.getElementById("login-text").style.display = "none";
        }

        getIsAdmin().then(isAdmin => {
          if (isAdmin === true) {
            document.getElementById("admingetuser").style.display = "inline";
          }
        });
    };

  </script>
  <title>반려동물 자랑 사이트, petfam</title>
</head>
<body>
  <div class="header" style="position: relative;">
    <div id="header-title-petfam">
      Petfam(펫팸)
    </div>
    <a id="sign-text" href="/templates/signup.html">
      회원가입
    </a>
    <a id="login-text" href="/templates/login.html">
      로그인
    </a>
    <a id="home-text" href="/templates/index.html">
      HOME
    </a>
    <a id="welcome-text" href="/templates/myprofile.html">
      ...님 환영합니다.
    </a>
    <button id="signout-text" onclick="logout()">
      로그아웃
    </button>
    <a id="admingetuser" href = "/templates/getusers.html">
      유저전체조회(관리자 전용)
    </a>
</div>
</div>
<nav class="nav flex-column" id="sidebar-text"
     style="float: left; margin-right: 50px; width: 200px;">
  <div class="nav-column">
    <a class="nav-link active" id="sidebar-text-each" aria-current="page" style="color: black"
       href="./posts.html">펫팸 자랑</a>
    <a class="nav-link active" id="sidebar-text-each" aria-current="page" style="color: black"
       href="#">펫팸 잡담</a>
    <a class="nav-link active" id="sidebar-text-each" aria-current="page" style="color: black"
       href="#">Q&A게시판</a>
  </div>
</nav>
<h1 id = "profile-header">나의 프로필 조회 </h1>
<img src="" class="img-thumbnail" id="img-thumbnail">
<div class="card" style="width: 18rem;" id="profile-card">

  <ul class="list-group list-group-flush">
    <li class="list-group-item" id="card-subheader">닉네임</li>
    <li class="list-group-item" id="card-content1">A second item</li>
    <li class="list-group-item" id="card-subheader">본인소개</li>
    <li class="list-group-item" id="card-content2">A second item</li>
  </ul>
</div>

<a  class="btn btn-dark" id = "profile-update-button" href = "/templates/updateprofile.html">프로필수정</a>
<script src="../javascript/user.js"></script>
</body>
</html>