<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/style.css"/>
  <script>
    window.onload = function() {
      getUserMe();
    };

    function profileUpdate() {

      let image = $('#formGroupExampleInput').val();
      let nickname = $('#formGroupExampleInput2').val();
      let introduction = $('#formGroupExampleInput3').val();

      var settings = {
        "url": "http://localhost:8080/users/profiles",
        "method": "PATCH",
        "timeout": 0,
        "headers": {
          "Authorization": window.localStorage.getItem('Authorization'),
          "Content-Type": "application/json"
        },
        "data": JSON.stringify({
          "nickname": nickname,
          "introduction": introduction,
          "image": image
        }),
      };
      
      $.ajax(settings).done(function (response) {
        console.log(response);
        if (response == "success"){
          alert("프로필 수정 완료")
          window.location.href = 'http://127.0.0.1:5500/templates/myprofile.html';
        }
      });
    }



    function getUserMe() {
      var settings = {
        "url": "http://localhost:8080/users/profiles",
        "method": "GET",
        "timeout": 0,
        "headers": {
          "Authorization": window.localStorage.getItem('Authorization')
        },
      };
      console.log(settings)
      $.ajax(settings).done(function (response) {
        console.log(response);
        console.log(response.nickname);
        $('#welcome-text').empty();
        $('#welcome-text').append(response.nickname+'님 반갑습니다.');
      });

    }

    function logout() {
      var settings = {
        "url": "http://localhost:8080/users/signout",
        "method": "POST",
        "timeout": 0,
        "headers": {
          "Authorization": window.localStorage.getItem('Authorization'),
          "Refresh_authorization": window.localStorage.getItem('Refresh_authorization')
        },
      };
      
      $.ajax(settings).done(function (response) {
        console.log(response);
        if (response == '로그아웃이 되었습니다.'){
          alert('로그아웃')
        } else {
          alert('로그아웃 실패')
        }
      });
    };

    function refresh() {
      var settings = {
        "url": "http://localhost:8080/users/refresh",
        "method": "POST",
        "timeout": 0,
        "headers": {
          "Authorization": window.localStorage.getItem('Authorization'),
          "Refresh_authorization": window.localStorage.getItem('Refresh_authorization')
        },
      };
      
      $.ajax(settings).done(function (response) {
        console.log(response);
        if (response == "로그인이 연장되었습니다."){
          alert('로그인연장')
        }
      });
      
    };
  </script>
  <title>반려동물 자랑 사이트, petfam</title>
</head>
<body>
  <div class="header" style="position: relative;">
    <div id="login-true" style="display: none;">
      <div id="header-title-login-user">
        <div id="username"></div> 님
      </div>
      <div id="header-title-petfam">
        Petfam(펫팸)
      </div>
      <a id="login-text" href="javascript/logout()">
        로그아웃
      </a>
      <a id="home-text" href="/templates/index.html">
        HOME
      </a>
    </div>
    <div id="login-false">
      <div id="header-title-petfam">
        Petfam(펫팸)
      </div>
      <a id="welcome-text" href="/templates/myprofile.html">
        ...님 환영합니다.
      </a>
      <button id="sign-text" onclick="logout()">
        로그아웃
      </button>
      <button id="login-text" onclick="refresh()">
        토큰재발급
      </button>
      <a id="home-text" href="/templates/index.html">
        HOME
      </a>
    </div>
  </div>
<nav class="nav flex-column" id="sidebar-text" style="float: left; margin-right: 50px; width: 200px;">
  <div class="nav-column">
    <a class="nav-link active" id="sidebar-text-each" aria-current="page" style="color: black" href="./posts.html" onclick="petboast()">펫팸 자랑</a>
    <a class="nav-link active" id="sidebar-text-each" aria-current="page" style="color: black" href="#">펫팸 잡담</a>
    <a class="nav-link active" id="sidebar-text-each" aria-current="page" style="color: black" href="#">Q&A게시판</a>
  </div>
</nav>

</div>
<h1 id = "profile-header">프로필 수정 </h1>
<div id = "profile-update-content">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">이미지</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Image">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">닉네임</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nickname">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">자기 소개</label>
    <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="introduction">
  </div>
</div>

<button type="button" class="btn btn-dark" id = "profile-update-button1" onclick = "profileUpdate()">수정완료</button>
</body>
</html>